//GLOBAL START
@import 'mixins';

html,
body {
  font-family: "Inter", sans-serif;

}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1730px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border: none;
  cursor: pointer;
  background: transparent;
}

.btn {
  @include text-style(600, 18px, auto, #fff);
  font-family: "Inter";
  padding: 18px 25px;
  border-radius: 4px;
  background: #c6a26e;
  display: flex;
  align-items: center;
  transition: all .3s;

  &:hover {
    transform: scale(1.05);
  }


  &::before {
    content: "";
    background: url("../images/icons/click-icon.svg");
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 10px;
  }
}

.btn--hollow {
  @include text-style(400, 18px, auto, #b27214);
  padding: 12px 35px;
  border: 2px solid rgba(198, 162, 110, 0.4);
  border-radius: 36px;
  max-width: 194px;
  white-space: nowrap;
  transition: all .3s;

  &:hover {
    background-color: rgba(198, 162, 110);
    color: #fff;
  }
}

//GLOBAL END

// HEADER START
.header {}

// header__top start


.header__top {}

.header__top-iner {}

.header__top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.header__top-logo {}

.header__logo-link {}

.header__top-img {}

.header__top-content {
  display: flex;
  align-items: center;
}

.header__top-basket {
  display: flex;
  align-items: center;
  margin-right: 90px;
}

.header__basket-link {
  transition: all .3s;

  &:hover {
    transform: scale(1.1);
  }
}

.header__basket-img {}

.basket__row {
  width: 2px;
  height: 55px;
  background-color: #C6A26E;
  margin: 0 10px;
}

.header__basket-info {}

.header__basket-item {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0px;
  }

}

.header__basket-text {
  @include text-style(400, 16px, auto, #ac1a01);
  letter-spacing: -0.03em;


  span {
    color: #2f2f2f;
  }
}

.header__top-phone {
  display: flex;
  align-items: end;
}

.header__phone-img {
  margin-top: auto;
  margin-right: 10px;
  // margin-bottom: auto;
}

.header__phone-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.header__phone-item {
  display: flex;
  align-items: center;
}

.header__phone-text {
  @include text-style(400, 15px, auto, #b27214);
  font-family: "Roboto";
  margin-left: 5px;
}

.header__phone-number {
  @include text-style(500, 28px, auto, #b27214);
  font-family: "Rubik";
  margin-top: 10px;
  letter-spacing: -0.02em;
}

// header__nav

.header__nav {}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 26px 55px 20px 55px;
}

.header__nav-item {
  padding: 0 3px;
}

.header__nav-item--active {
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 6px;
    background-color: #b27214;
    position: absolute;
    bottom: -20px;
  }

  a {
    color: #b27214;

  }
}

.header__nav-icon {
  margin-right: 12px;
}

.header__item-text {}



.header__item-link {
  @include text-style(400, 18px, auto, #2f2f2f);
  letter-spacing: -0.03em;
  margin-left: 10px;
  display: flex;
  align-items: center;



  transition: all .3s;

  &:hover {
    color: #b27214;
  }
}

.header__item-nums {
  @include text-style(400, 16px, auto, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  background-color: #c6a26e;
  border-radius: 100%;
  margin-left: 4px;
  margin-bottom: 9px;
}

// header__top end



// header__main start

.header__main {
  position: relative;
  background: url("../images/home-page/home-bg.jpg") no-repeat;
  background-size: cover;
  z-index: 0;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1296px;
    height: 100%;
    background: linear-gradient(90deg, rgba(49, 31, 31, 0.95) 30.5%, rgba(217, 217, 217, 0) 100%);
    pointer-events: none;
    z-index: -1;
  }
}

.header__main--repertoire {
  background: url("../images/repertoire-page/header-bg.jpg") no-repeat;
  background-size: cover;
  z-index: 0;

}

.header__main--pfnd {
  background: url("../images/performance-nd-page/main-bg.jpg") no-repeat;
  background-size: cover;
  z-index: 0;
}

.header__main--pf {
  background: url("../images/perfomance-page/main-bg.jpg") no-repeat;
  background-size: cover;
  z-index: 0;
}

.header__main--del {
  background: url("../images/delivery-page/main-bg.jpg") no-repeat;
  background-size: cover;
  z-index: 0;
}

.header__main--about {
  background: url("../images/about-page/main-bg.jpg") no-repeat;
  background-size: cover;
  z-index: 0;
}

.header__main-pagination {
  @include text-style(400, 15px, auto, #c6a26e);
  margin-bottom: 20px;
}

.header__pagination-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;

  &:last-child {
    text-decoration: none;
  }
}

.header__main-heading {
  display: flex;
  align-items: center;

  .poster__img-nums {
    position: static;
    width: 56px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    margin-left: 32px;
  }
}



.header__main-inner {}

.header__main-content {
  margin: 0 55px;
  padding-top: 50px;
  padding-bottom: 130px;
}

.header__main-wrapper {
  display: flex;
  align-items: center;
}

.header__main-subtitle {
  @include text-style(400, 45px, 133%, #ffd79d);
  margin-right: 26px;
}

.header__main-icon {
  margin-right: 26px;

  &:last-child {
    margin-right: 0px;
  }
}

.header__main-title {
  @include text-style(400, 60px, 100%, #ffd79d);
  margin-top: 3px;
  margin-bottom: 10px;
}

.header__main-text {
  @include text-style(400, 16px, auto, rgba(255, 215, 157, 0.7));

}

.header__content-list {
  margin-top: 30px;
}

.header__main-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    background: url("../images/icons/check-icon.svg") no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.header__content-text {
  @include text-style(400, 22px, auto, rgba(255, 215, 157, 0.9));

}

// header__main end
// HEADER END

//MAIN START
//poster start

.poster {
  margin-bottom: 50px;
}

.poster__calendar {}

//CALENDAR START
.calendar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 13px 35px;
  background: #f1eee9;
  border-radius: 12px;
  margin-top: -49px;
  z-index: 5;
  position: relative;
}

.calendar__arrow-left {}

.calendar__date-list {
  margin-left: 30px;
  width: 100%;
}


.calendar__heading {
  display: flex;
  align-items: center;


}

.calendar__heading-item {
  @include text-style(400, 18px, auto, #424242);
  margin-left: 40px;

  &:first-child {
    color: #fff;
    background: #c6a26e;
    padding: 0 4px;
    margin-left: 0px;
  }
}

.calendar__heading-link {}

.calendar__content {
  margin-top: 10px;
  margin-right: 67px;
  margin-left: 15px;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.calendar__date {
  @include text-style(400, 18px, auto, #424242);


  p {
    &:last-child {
      @include text-style(400, 12px, auto, #424242);
      margin-top: 5px;
    }

    span {
      color: #f87777;
    }
  }
}

.calendar__date-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar__date-link--active {
  background: #c6a26e;
  padding: 6px 5px;
  color: #fff;

  p {
    color: #fff !important;
  }
}

.calendar__arrow-right {}

//CALENDAR END

//HEADING START

.poster__heading {}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  margin-top: 13px;
  padding-right: 150px;
}

.heading__title-wrapper {
  display: flex;
  align-items: center;

}

.heading__img-box {}

.heading__title {
  @include text-style(400, 32px, auto, #2f2f2f);
  letter-spacing: -0.03em;
  margin-left: 15px;
}

.heading__text {
  @include text-style(400, 16px, auto, #424242);
  margin-left: 15px;
  margin-top: 6px;
  max-width: 413px;
}

.heading__content-list {
  display: flex;
  align-items: center;
}

.heading__list-item {
  display: flex;
  align-items: center;
  margin-right: 40px;

  &:last-child {
    margin-right: 0px;
  }
}

.heading__list-icon {}

.heading__list-text {
  @include text-style(400, 18px, auto, #2f2f2f);
  letter-spacing: -0.03em;
  margin-left: 10px;
}

.heading__row {
  border: 1px solid #e7dfd1;
  width: 100%;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 6px;
}

//HEADING END


//content start

.poster__content {
  margin-top: 16px;

}

.poster__content-list {}

.poster__content-item {
  display: flex;
  align-items: center;
  padding: 22px 0;
  border-top: 2px solid #e7dfd1;
  transition: all .3s;

  &:hover {
    background: #f5e9d5;

  }


  &:last-child {
    border-bottom: 2px solid #e7dfd1;

  }
}



.poster__item-date {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 70px;
  margin-right: 60px;
  min-width: 86px;
}

.poster__date-title {
  @include text-style(400, 70px, auto, #c6a26e);

}

.poster__date-month {
  @include text-style(400, 16px, auto, #2f2f2f);
  letter-spacing: -0.03em;
  white-space: nowrap;
}

.poster__date-time {
  @include text-style(400, 16px, auto, #2f2f2f);
  display: flex;
  align-items: center;

  span {
    margin-left: 2px;
  }
}

.poster__date-time--red {
  color: #f87777;
}

.poster__img-box {
  position: relative;
  margin-right: 60px;
}

.poster__img {}

.poster__img--mobile {
  display: none;
}

.poster__img-nums {
  border-radius: 36px;
  padding: 4px 9px;
  background: #b27214;
  position: absolute;
  top: 8px;
  left: 8px;
}

.poster__nums-text {
  color: #fff;
}

.poster__item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 150px;
}

.poster__item-descr {
  min-width: 412px;
  max-width: 412px;

  div {
    display: flex;
    align-items: center;
  }
}

.poster__descr-title {
  @include text-style(400, 31px, auto, #c6a26e);
  letter-spacing: -0.03em;
  margin-bottom: 8px;

}


.poster__descr-text {
  @include text-style(400, 16px, auto, #424242);
  margin-bottom: 8px;
}

.poster__descr-icon {
  margin-right: 8px;
}

.poster__icon-text {
  @include text-style(400, 16px, auto, #2f2f2f);
  letter-spacing: -0.03em;
}

.poster__item-price {
  @include text-style(400, 24px, auto, #ac1a01);
  // margin: 0 142px;
}

.poster__item-box {}

.poster__btn {}



.poster__btn-box {

  display: flex;
  justify-content: center;
}

.poster__btn--hollow {
  margin-top: 38px;
  // margin-left: auto;
}

//content end

//poster end
//steps start

.steps {
  margin-bottom: 78px;
}

.steps__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.steps__heading {
  text-align: center;
  margin-bottom: 26px;
}

.steps__title {
  @include text-style(400, 32px, auto, #2f2f2f);
  letter-spacing: -0.03em;
  margin-bottom: 14px;
}

.steps__subtitle {
  @include text-style(500, 24px, auto, #c5a26e);
  letter-spacing: -0.03em;
  font-family: "Inter";
}

.steps__content-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 973px;
}

.steps__content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 231px;

  &:last-child {
    max-width: 256px;
    margin-top: -26px;
  }
}

.steps__img {}

.steps__item-title {
  @include text-style(400, 28px, auto, #2f2f2f);
  letter-spacing: -0.03em;
  margin: 16px 0px;

  &:nth-child(2) {
    // margin: 0px;
  }
}

.steps__item-text {
  @include text-style(400, 16px, auto, #424242);
  text-align: center;
}

.steps__item-phone {
  @include text-style(500, 22px, auto, #c5a26e);
  letter-spacing: -0.02em;
  font-family: "Rubik";
  margin-top: 10px;
}

.steps__btn {
  @include text-style(400, 12px, auto, #fff);
  padding: 10px 17px;
  background: #c6a26e;
  border-radius: 8px;
  margin-top: -23px;
  margin-bottom: -13px;
}

//steps end
//questions start

// .questions {}

// .questions__inner {}

// .questions__title {
//   @include text-style(400, 32px, auto, #2f2f2f);
//   letter-spacing: -0.03em;
//   text-align: center;
//   margin-bottom: 32px;
// }

// .questions__content {
//   display: flex;
//   align-items: center;
//   margin: 0 53px;
// }

// .questions__content-list {
//   margin-right: 28px;
// }

// .questions__content-item {
//   border-radius: 8px;
//   background: #f1eee9;
//   padding: 30px 97px 30px 45px;
//   position: relative; 
//   width: 100%;

//   &::before{
//     content: "";
//     height: 100%;
//     width: 8px;
//     border-radius: 12px;
//     display: inline-block;
//     background: #c5a26e;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//   }
// }



// .questions__list-title {
//   @include text-style(400, 24px, auto, #b27214);
//   letter-spacing: -0.03em;
//   margin-bottom: 24px;
//   border-bottom: 1px dashed #c6a26e;
//   height: 44px;
// }

// .questions__list-link {
//   position: absolute;
//   top: 30px;  
//   right: 30px;
//   display: none;
// }

// .questions__list-link--active{
//   display: block;
// }

// .questions__list-x {}

// .questions__list-text {
//   @include text-style(300, 16px, auto, #424242);
//   font-family: "Inter";
// }

.questions {
  margin-bottom: 47px;
}

.questions__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions__title {
  @include text-style(400, 32px, auto, #2f2f2f);
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 32px;
}

.questions__content {
  display: flex;
  align-items: center;
  margin-left: 26px;
}

.questions__content-list {
  margin-right: 28px;
}

.questions__content-item {
  border-radius: 8px;
  background: #f1eee9;
  padding: 30px 45px;
  position: relative;
  height: 84px;
  width: 783px;
  margin-bottom: 12px;
  transition: all .3s;

  &::before {
    content: "";
    height: 100%;
    width: 8px;
    border-radius: 12px;
    display: inline-block;
    background: #c5a26e;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.questions__content-item--active {
  transition: all .3s;
  height: 100%
}

.questions__list-title {
  @include text-style(400, 24px, auto, #b27214);
  letter-spacing: -0.03em;
  margin-bottom: 24px;
  border-bottom: 1px dashed #c6a26e;
  height: 44px;
  cursor: pointer;
}

.questions__list-link {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
}

.questions__list-link--active {
  display: block;
}

.questions__list-x {}

.questions__list-text {
  @include text-style(300, 16px, auto, #424242);
  font-family: "Inter";
  display: none;
  /* Скрываем по умолчанию */
}

//questions end

//reservation start

.reservation {
  background: rgba(245, 233, 213, 0.7);
  margin-bottom: 81px;
}

.reservation--about {
  margin-bottom: 570px;
}

.reservation__inner {}

.reservation__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}

.reservation__content-heading {
  display: flex;
  align-items: center;
}

.reservation__img {}

.reservation__title {
  @include text-style(400, 32px, 141%, #b27214);
  max-width: 386px;
  margin-left: 26px;
}

.reservation__btn-box {
  margin-left: -90px;
}

.reservation__btn {}

.reservation__phone-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 122px;
}

.reservation__list-item {
  display: flex;
  align-items: center;
}

.reservation__list-text {
  @include text-style(400, 16px, 141%, #b27214);

}

.reservation__list-img {
  margin-right: 11px;
}

.reservation__list-number {
  @include text-style(500, 28px, 141%, #b27214);
  letter-spacing: -0.02em;
}

//reservation end

//popular start

.popular {
  background: #f1eee9;
}


.popular__inner {
  padding-top: 76px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.popular__heading {}

.popular__title {
  @include text-style(400, 32px, auto, #2f2f2f);
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 5px;
}


.popular__text {
  @include text-style(400, 16px, auto, #424242);
  text-align: center;
  margin-bottom: 23px;
}

.popular__slider-wrapper {
  width: 100vw;
  max-width: 1384px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.popular__slider {
  width: 100vw;
  max-width: 1384px;
  min-width: 300px;
  margin-bottom: 28px;
}

.popular__slide,
.repertoire__content-item {

  border-radius: 8px;
  background-color: #fff;
  // margin-right: 50px;
  margin: 0px 25px;

  &:last-child {
    margin-right: 0px;
  }
}

.popular__slide,
.slick-slide {
  width: 428px;
  height: 561px;
}

.slide__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 35px 20px;
}

.popular__img-box--slide {
  width: 100vw;
  max-width: 100%;
  min-width: 319px;
}

.popular__img-box {

  // min-height: 230px;
  // max-height: 280px;
}

.popular__img {
  width: 100%;
  height: 100%;
}

.popular__content-list {}

.popular__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular__list-date {
  @include text-style(400, 18px, auto, #b27214);
  letter-spacing: -0.03em;
  margin-top: 12px;

  span {
    color: #2f2f2f;
  }
}

.popular__list-title {
  @include text-style(400, 32px, auto, #333);
  letter-spacing: -0.03em;
  margin-top: 7px;
  margin-bottom: 12px;
  text-align: center;

}

.popular__list-title--hover {
  transition: all .3s;

  &:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #b27214;
  }
}

.popular__list-price {
  @include text-style(400, 24px, auto, #ac1a01);
  margin-bottom: 29px;
}


.popular__btn-box {
  max-width: 316px;
  margin: 0 auto;
}


.popular__btn {
  justify-content: center;
}

.popular__list-date--red {
  color: #f87777 !important;
}

.popular__slider-arrow--prev {
  position: absolute;
  top: 51%;
  left: -81px;
  // transform: translateY(50%);
}

.popular__slider-arrow--next {
  position: absolute;
  top: 51%;
  right: -83px;
}

.popular__slider-dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular__slider-dots li {
  margin-right: 12px;
}

.popular__slider-dots li:last-child {
  margin-right: 0px;
}


.popular__slider-dots button {
  font-size: 0;
  background-color: transparent;
  height: 12px;
  width: 12px;
  display: flex;
  align-items: center;
  border-radius: 100%;
}

.popular__slider-dots button::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.49);
  border-radius: 100%;
}

.popular__slider-dots .slick-active button::before {
  background-color: #c6a26e;
  transition: all .3s;
}

//popular end
//MAIN END

//FOOTER START

.footer {
  background: url("../images/footer-bg.jpg") no-repeat;
  margin-top: 64px;
}


//footer__head start


.footer__head {
  padding-bottom: 56px;
}

.footer__head-inner {
  display: flex;
  align-items: center;
  padding-top: 62px;
  padding-left: 159px;
  padding-right: 159px;
  justify-content: space-between;
}

.footer__head-phone {
  margin-right: 20px;
}

.footer__logo-img {}

.footer__phone-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
}

.footer__phone-item {}

.footer__phone-text {
  @include text-style(400, 22px, 136%, rgba(198, 162, 110, 0.8));

}

.footer__phone-number {
  @include text-style(500, 28px, auto, #c6a26e);
  letter-spacing: -0.02em;
  font-family: "Rubik";
  display: flex;
  align-items: center;
  margin-top: 19px;
  margin-bottom: 13px;
  width: 324px;
}

.footer__number-icon {}

.footer__number-text {}

.footer__phone-date {
  @include text-style(400, 14px, auto, rgba(198, 162, 110, 0.8));

}

.footer__head-content {
  max-width: 891px;
}

.footer__content-title {
  @include text-style(400, 22px, 136%, #c6a26e);
  margin-bottom: 44px;
}

.footer__content-list {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 100px;
}

.footer__content-item {}

.footer__item-link {
  @include text-style(400, 18px, auto, rgba(198, 162, 110, 0.8));
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.footer__item-icon {
  margin-right: 12px;
}

//footer__head end

//footer__bottom start

.footer__bottom {}

.footer__bottom-inner {
  padding-left: 159px;
  padding-right: 159px;
  padding-bottom: 177px;
  display: flex;
  align-items: center;

}

.footer__bottom-contacts {
  margin-right: 167px;
}

.footer__contacts-title {
  @include text-style(500, 22px, 136%, #c6a26e);
  font-family: "Inter";
  margin-bottom: 27px;
}


.footer__contacts-list {}

.footer__contacts-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0px;
    margin-top: 6px;
  }
}

.footer__contacts-icon {
  margin-right: 16px;
}

.footer__contacts-text {
  @include text-style(400, 16px, auto, rgba(198, 162, 110, 0.8));

}

.footer__contacts-link {
  @include text-style(400, 16px, auto, rgba(198, 162, 110, 0.8));

  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.footer__contacts-license {
  @include text-style(400, 14px, auto, rgba(198, 162, 110, 0.8));

}


.footer__cards-title {
  @include text-style(500, 22px, 136%, #c6a26e);
  font-family: "Inter";
  margin-bottom: 20px;
}

.footer__bottom-cards {}

.footer__cards-list {
  display: flex;
  align-items: center;
}

.footer__cards-item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0px;
  }
}

.footer__cards-img {}

//footer__bottom end
//FOOTER END

//REPERTOIRE PAGE START

.repertoire {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 47px;

  .poster__btn-box {
    margin-left: 0px;
  }
}

.repertoire__content {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}

.repertoire__content-item {
  border: 1px solid #e7dfd1;
  position: relative;
  margin-right: 40px;
  margin-bottom: 40px;

  .slide__wrapper {
    margin-bottom: 60px;
  }

  .popular__list-title {
    font-size: 26px;
  }

  .popular__btn-box {
    position: absolute;
    bottom: 22px;
  }
}

//REPERTOIRE PAGE END
//REPERTOIRE ND START

.poster--pfnd {
  margin-bottom: 29px;
}

.poster__title {
  @include text-style(400, 32px, auto, #333);
  letter-spacing: -0.03em;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 22px;
}

.poster__scheme-wrapper {
  background: url("../images/performance-nd-page/second-bg.jpg") no-repeat;
  background-size: cover;
  border-radius: 12px;
  margin-top: 38px;
  width: 100%;
  height: 161px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.scheme__item-box {}

.scheme__btn {
  max-width: 390px;
}

//date start

.date {
  margin-bottom: 50px;
}

.date__inner {}

.date__title {
  @include text-style(400, 32px, auto, #333);
  letter-spacing: -0.03em;
  margin-bottom: 0px;
  text-align: center;
  margin-bottom: 18px;
}

.date__calendar {
  position: static;
  margin-top: 0px;
  margin-bottom: 28px;
}

.date__content {}

.date__content-title {
  @include text-style(400, 24px, auto, #c6a26e);
  letter-spacing: -0.03em;
  margin-left: 53px;
  margin-bottom: 7px;
}

.date__content-list {}

.date__content-item {
  margin-left: 53px;
  height: 125px;
  padding: 20px 0px;
  border-top: 2px solid #e7dfd1;

  &:last-child {
    border-bottom: 2px solid #e7dfd1;
  }
}

.date__item-heading {
  @include text-style(400, 20px, auto, #424242);
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}


.date__item-text {
  margin-right: 191px;
  width: 215px;
  white-space: nowrap;
}

.date__item-price {
  span {
    color: #ac1a01;
    font-size: 22px;
  }
}

.date__item-btns {
  display: flex;
  align-items: center;
}

.date__item-btn {
  @include text-style(500, 22px, auto, #424242);
  font-family: "Inter";
  letter-spacing: -0.03em;
  padding: 5px 7px;
  width: 40px;
  height: 38px;
  border-radius: 0 0 12px 12px;
  background: #f1eee9;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-child {
    margin-right: 0px;
  }
}

.date__item-btn--active {
  color: #fff;
  background: #ac1a01;
}

//date end

//gallery start

.gallery {
  background: #f1eee9;
  padding-bottom: 60px;
  margin-bottom: 32px;
}

.gallery__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.gallery__title {
  @include text-style(400, 32px, auto, #333);
  letter-spacing: -0.03em;
  text-align: center;
  margin-top: 51px;
  margin-bottom: 38px;
}


.gallery__slider-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  width: 100%;
  max-width: 1384px;
  min-width: 300px;
  height: 288px;
  // overflow: hidden;
}

.gallery__slider-arrow--left {
  // order: 1;
  // margin-left: 110px;
  position: absolute;
  left: -50px;
  top: 50%;
  // transform: translateY(-50%);

}

.gallery__slider-arrow--right {
  // order: 3;
  // margin-right: 110px;
  position: absolute;
  right: -50px;
  top: 50%;
  // display: block;
  // transform: translateY(-50%);
}

.gallery__slider {
  width: 100%;
  height: 100%;

  // order: 2;
  .slick-slide {
    height: 288px !important;
  }
}

.gallery__slide {
  margin: 0 15px;
  width: calc((100% / 3) - 30px);
  /* 3 slides, 30px total margin */
  box-sizing: border-box;
  height: 288px !important;
  /* Fixed height */
}

.gallery__img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  &:hover .gallery__img-overlay {
    opacity: 1;
  }

  &:hover .gallery__slide-icon {
    opacity: 1;
  }
}


.gallery__img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 70, 80, 0.25);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 4px;
}

.gallery__slide-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  /* Make sure the image covers the whole container */
}

.gallery__slide-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s;
}

.gallery__slider-dots {
  padding: 23px 0px;
}

.gallery__slider-dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;


}

.gallery__slider-dots li {
  margin-right: 12px;
}

.gallery__slider-dots li:last-child {
  margin-right: 0px;
}


.gallery__slider-dots button {
  font-size: 0;
  background-color: transparent;
  height: 12px;
  width: 12px;
  display: flex;
  align-items: center;
  border-radius: 100%;
}

.gallery__slider-dots button::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.49);
  border-radius: 100%;
}

.gallery__slider-dots .slick-active button::before {
  background-color: #c6a26e;
  transition: all .3s;
}

//gallery end

//REPERTOIRE ND END

//REPERTOIRE START

.description {}

.description__inner {}

.description__title {
  @include text-style(400, 32px, auto, #333);
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 20px;
}

.description__content {
  max-width: 1234px;
}

.description__text {
  @include text-style(400, 16px, 133%, #424242);
  letter-spacing: -0.02em;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 58px;
  }
}

.description__text--yellow {
  @include text-style(400, 18px, 133%, #c6a26e);

}

//REPERTOIRE END

//BASKET START

.basket {
  margin-bottom: 72px;
}

.pagination--basket {
  margin-left: 66px;
}

.basket__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 40px;
  background: #f1eee9;
  border-radius: 8px;
}

.basket__heading {}

.basket__title {
  @include text-style(400, 32px, auto, #333);
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 17px;
}

.basket__heading-text {
  @include text-style(400, 24px, auto, #b27214);
  letter-spacing: -0.03em;
  margin-bottom: 37px;

}

.basket__content {
  position: relative;
}

.basket__content-row {
  width: 100vw;
  max-width: 1595px;
  min-width: 300px;
  height: 1px;
  background-color: #dde1e7;
  position: absolute;
  left: 0;
  right: 0;
}

.row--first {
  top: 33px;
}

.row--second {
  top: 92px;
}

.row--third {
  bottom: 22px;
}

.basket__content-wrapper {
  width: 100vw;
  /* ширина контейнера равна ширине окна браузера */
  max-width: 1595px;
  /* максимальная ширина контейнера */
  min-width: 300px;
  /* минимальная ширина контейнера */
  display: flex;
  padding: 0 45px;
  align-items: center;
  justify-content: space-between;
}

.basket__content-list {}

.basket__content-item {}

.basket__item-title {
  @include text-style(400, 15px, auto, #c6a26e);
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}

.basket__item-text {
  @include text-style(400, 18px, auto, #424242);
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.basket__item-price {
  @include text-style(400, 22px, auto, #ac1a01);
  margin-bottom: 35px;
}

.basket__item-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 32px;
}


.basket__total {
  @include text-style(400, 24px, auto, #424242);
  letter-spacing: -0.03em;
  text-align: center;

  span {
    color: #ac1a01;
    font-size: 22px;
  }
}

//BASKET END

//FORM START

.form {}

.form__inner {
  display: flex;
  justify-content: center;


}

.form__wrapper {
  width: 100vw;
  max-width: 800px;
  min-width: 300px;
  background: #f5e9d5;
  border-radius: 8px;
  padding: 30px 90px 52px 90px;
}

.form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title {
  @include text-style(400, 42px, auto, #b27214);
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}

.form__label {
  padding: 0 30px;
  margin-bottom: 12px;
  position: relative;
}

.form__input {
  @include text-style(400, 22px, auto, #777);
  width: 619px;
  height: 62px;
  border-radius: 8px;
  padding-left: 56px;
}

.form__icon {
  position: absolute;
  top: 19px;
  left: 50px;
  // transform: translateY(-50%);
}

.form__textarea {
  @include text-style(400, 22px, auto, #777);
  width: 619px;
  height: 117px;
  border-radius: 8px;
  padding-top: 19px;
  padding-left: 56px;

}

.form__captcha {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.form__text {
  @include text-style(400, 16px, auto, #777);
  margin-right: 25px;
}

.form__img {}

.form__btn {
  @include text-style(600, 24px, auto, #fff);
  font-family: "Inter";
  padding: 47px 202px;
  white-space: nowrap;
  margin-bottom: 36px;
  margin-top: 6px;
  border-radius: 12px;
}

.form__descr {
  @include text-style(400, 16px, 150%, #c6a26e);
  letter-spacing: -0.02em;
  margin-bottom: 29px;
}

.form__custom-checkbox {
  @include text-style(400, 14px, auto, #898989);
  letter-spacing: -0.02em;
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;

  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

.form__custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #898989;

}

.form__custom-checkbox input:checked+.checkmark {
  border: 1px solid #898989;
  padding: 2px 0px 4px 4px;



  &::before {
    content: "";
    background-color: #fff;
    background-image: url("../images/form-icons/check-icon.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 16px;
    display: inline-block;
  }
}

//FORM END

//DELIVERY START

.delivery {}

.delivery__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery__heading {}

.delivery__title {
  @include text-style(400, 32px, auto, #333);
  letter-spacing: -0.03em;
  text-align: center;
  margin-top: 26px;
}

.delivery__text {
  @include text-style(400, 24px, 167%, #b27214);
  font-family: "Inter";
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 927px;
  margin-top: 32px;
  margin-bottom: 48px;
}

.delivery__subtitle {
  @include text-style(400, 32px, auto, #2f2f2f);
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 59px;
}

.delivery__content-list {
  display: flex;
  align-items: center;
}

.delivery__content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 303px;
  margin-right: 100px;

  &:last-child {
    margin-right: 35px;
  }
}

.delivery__item-img {}

.delivery__item-title {
  @include text-style(400, 28px, auto, #2f2f2f);
  letter-spacing: -0.03em;
  margin: 16px 0px;
}

.delivery__item-text {
  @include text-style(400, 16px, auto, #424242);
  text-align: center;
  margin-bottom: 124px;
}

.delivery__img-box {}

.delivery__card-img {
  margin-right: 0px;
  margin-bottom: 124px;

}

.delivery__descr {
  display: flex;
  // align-items: center;

  div {
    display: inline-block;
    width: 4px;
    height: 60px;
    background: #c6a26e;
    margin-right: 12px;
  }
}

.delivery__descr-text {
  @include text-style(400, 18px, 167%, #424242);
  letter-spacing: -0.02em;
  margin-bottom: 38px;
}

//DELIVERY END

//ABOUT START

.about {
  margin-bottom: 69px;
}

.about__inner {}

.about__title {
  @include text-style(400, 32px, 167%, #333);
  letter-spacing: -0.03em;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 14px;
}

.about__content {}

.about__row {
  display: flex;
  align-items: center;
  margin-bottom: 27px;

  p {
    max-width: 1289px !important;
  }
}

.about__img {
  margin-right: 29px;
}

.about__text {
  @include text-style(400, 18px, 167%, #424242);
  letter-spacing: -0.02em;
  max-width: 1572px;

  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

//ABOUT END



//RESPONSIVE START 
//1600px start

@media(max-width:1600px) {
  .heading {
    flex-direction: column;
    padding: 0 13px;
  }


  .heading__content-list {
    margin-top: 15px;
  }

  .poster__item-content {
    margin-right: 0px;
  }

  .poster__img-box {
    margin-right: 40px;
  }

  .questions__content {
    flex-direction: column;
    margin-left: 0px;
  }

  .questions__content-list {
    margin-bottom: 12px;
    margin-right: 0px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .reservation__phone-list {
    margin-right: 60px;
  }

  .popular__slider-arrow--prev {
    left: 37px;
    z-index: 5;
  }


  .popular__slider-arrow--next {
    right: 37px;
    z-index: 5;
  }

  .footer__head-inner {
    padding-left: 13px;
  }

  .footer__bottom-inner {
    padding-left: 13px;
  }

  //1600px end
}

//1300PX START
@media(max-width:1300px) {

  .header__nav-list {
    margin-left: 0px;
    margin-right: 0px;
  }

  .poster__item-date {
    margin-left: 13px;
    margin-right: 20px;
  }

  .reservation__phone-list {
    margin-right: 0px;
  }

  .reservation__title {
    font-size: 22px;
    max-width: 243px;
    margin-right: 85px;
  }

  .footer__content-list {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }

  //1300PX END
}



//1200px start

@media(max-width:1200px) {
  .poster__content-item {
    flex-direction: column;
    align-items: start;
    position: relative;
    height: 300px;
    padding: 0 13px;
  }

  .poster__item-price {
    position: absolute;
    right: 15px;
    top: 45px;
  }

  .poster__btn {
    height: 50px;
    position: absolute;
    bottom: 5px;
    left: 13px;
    right: 13px;
    justify-content: center;
  }

  .poster__item-date {
    min-width: 53px;
    margin-left: 0px;
  }



  .poster__item-content {
    margin-top: 10px;
  }

  //1200px end
}


//1151PX START 

@media(max-width:1151px) {

  .header__nav {
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .header__nav-list {
    justify-content: flex-start;
  }

  .header__nav-item {
    flex: 0 0 auto;
  }

  .calendar {
    padding: 13px 13px;
  }

  .calendar__content {
    margin-right: 30px;
    margin-left: 0px;
  }

  .calendar__arrow-left,
  .calendar__arrow-right {
    display: none;
  }

  .heading__list-item {
    margin-right: 20px;
  }

  .steps__content-list {
    flex-direction: column;
    align-items: center;
  }

  .steps__content-item {
    margin-bottom: 16px;

    &:nth-child(2) {
      margin-bottom: 32px;
    }
  }

  .steps__btn {
    margin-bottom: 0px;
  }

  .repertoire__content-item {
    margin: 0px 13px;
  }

  //1151PX END
}

//1100px start

@media(max-width:1100px) {

  .reservation__content {
    flex-direction: column;
    width: 100%;
  }

  .reservation__content-heading {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .reservation__btn-box {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 33px;
  }

  .reservation__btn {
    justify-content: center;
  }

  .reservation__title {
    margin: 0px;
  }


  .footer__head-inner {
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer__content-list {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    row-gap: 31px;
    column-gap: 52px;
  }

  .footer__head-phone {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 51px;
  }

  .footer__phone-list,
  .footer__phone-number {
    align-items: center;
    justify-content: center;
  }

  .footer__head-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    background: url("../images/responsive-images/footer-bg.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .footer__bottom-inner {
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer__bottom-contacts {
    margin-right: 0px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__bottom-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .repertoire__content {
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
    row-gap: 30px;
  }

  .repertoire__content-item {
    .popular__btn-box {
      width: 100%;
    }
  }

  .header__main--pfnd {
    background: url("../images/responsive-images/pfnd-bg.jpg") no-repeat;
    background-size: cover;
  }

  //1100px end
}


//850PX START
@media(max-width:850px) {

  .header__top-row {
    align-items: start;
  }

  .header__top-content {
    flex-direction: column;
    align-items: end;
  }

  .header__phone-info {
    align-items: end;
    justify-content: end;
  }

  .header__top-basket {
    order: 1;
    margin-top: 15px;
    margin-right: 0px;
  }

  .header__basket-info {
    display: flex;

  }

  .header__basket-item {
    margin-right: 13px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .basket__row {
    height: 40px;
  }

  .calendar {
    border-radius: 0px;


  }

  .calendar__content {
    margin-right: 0px;

    ul {
      overflow-x: auto;
      white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .calendar__date {
    flex: 0 0 auto;
    margin-right: 23px;
  }

  .poster {
    .container {
      padding: 0px;
    }
  }

  .calendar__date-list {
    margin: 0;
  }

  .heading {
    align-items: start;
  }

  .test {
    overflow-x: auto;
    white-space: nowrap;
  }

  .heading__content-list {
    max-width: 100%;
    /* Ограничиваем ширину контейнера */
    overflow-x: auto;
    /* Горизонтальный скролл */
    white-space: nowrap;
    /* Предотвращение переноса элементов на новую строку */
    justify-content: flex-start;
    /* Выравнивание элементов по началу */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .heading__list-item {
    flex: 0 0 auto;
    /* Предотвращение изменения размеров элементов */

  }


  .questions__title {
    font-size: 22px;
  }

  .questions__content-item {
    width: 351px;
    padding: 15px 35px 15px 20px;

  }

  .questions__list-link {
    top: 13px;
    right: 15px;
  }

  .questions__list-title {
    font-size: 16px;
  }

  .questions__list-text {
    font-size: 12px;
  }


  .popular__title {
    font-size: 22px;
  }

  .popular__list-title {
    font-size: 22px;
  }

  .popular__img {
    height: 230px;
  }

  .repertoire__content-item {
    width: 357px;
    height: 474px;
  }

  .repertoire__content {
    grid-template: repeat(12, 1fr) / repeat(1, 1fr);
  }

  .poster__scheme {
    margin: 0 13px;
    // margin-left: 13px;
    // margin-right: 13px;
  }

  .date {
    .container {
      padding: 0px;
    }
  }

  .date__content-title {
    margin-left: 0px;
    text-align: center;
  }

  .date__content-item {
    margin-left: 13px;
  }


  .pagination--basket {
    margin-left: 13px;

  }

  .basket__content-wrapper {
    padding-right: 16px;
    padding-left: 29px;
  }

  .basket__content-list {
    &:last-child {
      .basket__content-item {
        max-width: 12px;

        .basket__item-title {
          opacity: 0;
        }
      }
    }
  }

  .basket__item-icon {
    width: 12px;
    height: 12px;
  }

  .basket__item-text,
  .basket__item-price {
    font-size: 15px;
  }

  .basket__content-item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .basket__title {
    font-size: 25px;
  }

  .basket__heading-text {
    font-size: 18px;
  }

  .basket__total {
    align-self: flex-start;
    margin-left: 13px;
    padding-right: 29px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    span {
      font-size: 15px;
    }
  }

  //850PX END
}

//700px start

@media(max-width:700px) {

  .form__title {
    font-size: 24px;
  }

  .form__input {
    font-size: 18px;
  }

  .form__text,
  .form__descr {
    font-size: 14px;
  }

  .form__custom-checkbox {
    font-size: 12px;
  }

  .form__wrapper {
    width: 359px;
  }

  .form__input,
  .form__textarea,
  .form__captcha,
  .form__custom-checkbox {
    width: 329px;
  }

  .form__btn{
    padding: 30px 57px;
  }

  .form__descr{
    width: 329px;
    text-align: center;
  }

  //700px end
}

//600px start

@media (max-width:600px) {


  .header__main {
    background: url("../images/responsive-images/home-bg.jpg") no-repeat;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1296px;
      height: 100%;
      background: linear-gradient(90deg, rgba(49, 31, 31, 0.85) 23.5%, rgba(49, 31, 31, 0.58) 99.99%, rgba(217, 217, 217, 0) 100%);
      pointer-events: none;
      z-index: -1;
    }
  }

  .header__main--repertoire {
    background: url("../images/responsive-images/repertoire-bg.jpg") no-repeat;
    background-size: cover;
  }

  .header__main--pfnd {
    background: url("../images/responsive-images/pfnd-bg-mini.jpg") no-repeat;
    background-size: cover;

    .header__main-title {
      font-size: 22px;
    }
  }

  .header__main--pf {
    background: url("../images/responsive-images/pf-bg.jpg") no-repeat;
    background-size: cover;

    .header__main-title {
      font-size: 22px;
    }
  }

  .header__top-img {
    width: 129px;
    height: 48px;
  }

  .header__phone-text {
    font-size: 10px;
  }

  .header__phone-img {
    width: 20px;
    height: 20px;
  }

  .header__phone-number {
    font-size: 18px;
    margin-right: -5px;
  }

  .header__basket-img {
    width: 24px;
    height: 24px;
  }

  .basket__row {
    height: 26px;
  }

  .header__basket-text {
    font-size: 14px;
  }

  .header__nav-list {
    margin-top: 8px;
    margin-bottom: 15px;
  }

  .header__nav-item--active {
    position: relative;

    &::before {
      bottom: -21px;
    }
  }


  .header__main-subtitle {
    font-size: 24px;
    margin-right: 16px;
  }

  .header__main-icon {
    width: 61px;
    height: 22px;
    margin-right: 20px;
  }


  .header__main-title {
    font-size: 36px;
  }

  .header__main-text {
    font-size: 10px;
  }

  .header__content-text {
    font-size: 16px;
  }

  .calendar {
    margin-top: 0px;
  }

  .header__main-content {
    padding: 13px 0px 24px 12px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .heading__img-box {
    width: 64px;
    height: 36px;
  }

  .heading__title {
    font-size: 20px;
  }

  .heading__list-icon {
    width: 24px;
    height: 24px;
  }

  .heading__list-text {
    margin-left: 8px;
  }


  .popular__slider-arrow--prev {
    top: 42%;
    z-index: 5;
  }


  .popular__slider-arrow--next {
    top: 42%;
    z-index: 5;
  }

  .header__pagination-link {
    font-size: 10px;
  }

  .date__item-text {
    font-size: 14px;
    margin-right: 20px;
    width: 151px;
  }

  .date__item-price {
    font-size: 14px;
  }

  .date__item-btn {
    width: 30px;
    height: 30px;
    font-size: 16px;
    margin-right: 2px;
  }


  .basket__item-text,
  .basket__total,
  .basket__item-price {
    font-size: 12px;

    span {
      font-size: 12px;
    }
  }

  .basket__item-price {
    white-space: nowrap;
  }

  .basket__title {
    font-size: 22px;
  }

  .basket__heading-text {
    font-size: 15px;
  }

  .basket__item-title {
    font-size: 10px;
  }

  //600px end
}

//500px start

@media (max-width:500px) {

  .poster__content-item {
    height: 261px;
  }

  .poster__item-date {
    align-items: center;
  }

  .poster__date-title {
    font-size: 40px;
  }

  .poster__date-month,
  .poster__date-time,
  .poster__descr-text {
    font-size: 12px;
  }

  .poster__item-price {
    font-size: 18px;
  }

  .poster__descr-title {
    font-size: 24px;
  }

  .poster__icon-text {
    font-size: 16px;
  }

  .poster__img {
    display: none;
  }

  .poster__img--mobile {
    display: block;
  }


  .steps__title {
    font-size: 22px;
  }

  .steps__subtitle {
    font-size: 18px;
  }


  .reservation__img {
    width: 90px;
    height: 86px;
  }

  .reservation__title {
    font-size: 20px;
  }

  .footer {
    align-items: start;
  }

  .footer__head {
    margin-left: 1px;
  }

  .footer__head-inner,
  .footer__head-phone,
  .footer__phone-list,
  .footer__head-content,
  .footer__bottom-inner,
  .footer__bottom-contacts,
  .footer__contacts-list,
  .footer__bottom-cards {
    align-items: start;
  }

  .footer__phone-number {
    justify-content: start;
  }

  .footer__item-link {
    font-size: 16px;
  }

  .heading__text {
    font-size: 10px;
  }

  .poster__scheme-wrapper {
    background: url("../images/responsive-images/second-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .scheme__btn {
    font-size: 12px;
  }

  .slide__wrapper{
    margin: 16px;
    margin-bottom: 18px;
    flex-direction: column;
    align-items: center;
  }

.popular__btn{
  min-width: 297px;
  max-width: 315px;
}
  //500px end
}

//395px start

@media(max-width:395px) {
  .popular__btn{
    width: 297px;
  }

  //395px end
}

//RESPONSIVE END